/* Stylesheet
––––––––––––––––––––––––––––––––––––––––––––––––––*/
html {
  font-family: "Open Sans", sans-serif;
  background-color: hsla(240, 7%, 81%, 0.15);
  color: #222;
}

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    padding: 0 15px;
  }
}

h2 {
  max-width: 63rem;
  margin: 0 auto;
  /* padding-top: 5rem; */
  text-align: center;
  font-size: 40px;
  line-height: 1.2;
}

.intro-text {
  max-width: 40rem;
  margin: 0 auto;
  padding-top: 1.5rem;
  text-align: center;
  font-size: 17px;
  line-height: 1.7;
}

.container__header {
  margin: 3rem 0;
  text-align: center;
}

.container__viz {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #ffffff;
  padding: 2rem 0;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.column {
  margin: 0 1rem;
  width: 48%;
}

.viz {
  width: 100%;
  height: 80vh;
  background-color: #bab5b5;
  border-radius: 0.25rem;
}

.caption {
  margin: 2rem 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

input[type="checkbox"] {
  display: inline;
}

span {
  margin-left: 5px;
  padding: 2px;
  border-radius: 0.25rem;
}

span > span {
  margin-left: 0;
}
